@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url("../fonts/robotothin3c0df.woff2") format("woff2"),
    url("../fonts/robotothinad394.woff") format("woff"),
    url("../fonts/robotothin4ee94.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"),
    url("../fonts/robotothinitalicea84b.woff2") format("woff2"),
    url("../fonts/robotothinitalicc3930.woff") format("woff"),
    url("../fonts/robotothinitalic9311c.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/robotolighteca9f.woff2") format("woff2"),
    url("../fonts/robotolightd5000.woff") format("woff"),
    url("../fonts/robotolight3a30d.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/robotolightitalicfcef1.woff2") format("woff2"),
    url("../fonts/robotolightitalicdcc64.woff") format("woff"),
    url("../fonts/robotolightitalicc8087.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/robotoc6011.woff2") format("woff2"),
    url("../fonts/robotoae027.woff") format("woff"),
    url("../fonts/robotoed97d.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url("../fonts/robotoitalic978e0.woff2") format("woff2"),
    url("../fonts/robotoitalicd2910.woff") format("woff"),
    url("../fonts/robotoitalic8d27e.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/robotomedium6a76d.woff2") format("woff2"),
    url("../fonts/robotomedium46e27.woff") format("woff"),
    url("../fonts/robotomedium0f2be.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"),
    url("../fonts/robotomediumitalic26dea.woff2") format("woff2"),
    url("../fonts/robotomediumitalicf3360.woff") format("woff"),
    url("../fonts/robotomediumitalic27a4e.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/robotobold84425.woff2") format("woff2"),
    url("../fonts/robotobold98a85.woff") format("woff"),
    url("../fonts/robotobold24639.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url("../fonts/robotobolditalic1a1bf.woff2") format("woff2"),
    url("../fonts/robotobolditalice1b30.woff") format("woff"),
    url("../fonts/robotobolditalic79563.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/robotoblack6b37c.woff2") format("woff2"),
    url("../fonts/robotoblack3a003.woff") format("woff"),
    url("../fonts/robotoblackf173c.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"),
    url("../fonts/robotoblackitalic40102.woff2") format("woff2"),
    url("../fonts/robotoblackitalic94c1b.woff") format("woff"),
    url("../fonts/robotoblackitalicc548e.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
